/DALL·E 2023-12-25 09.00.43 - Refine the flat design logo for 'B2B Real Estate', ensuring the company name is spelled correctly. The logo should be simple and eco-friendly, using a.png
/Eladó családi ház - XXII. kerület, Diótörő út 147. #32711340.pdf
/b2b logo.png
/b2b_transparent.png