.hero {
	position: relative;
	width: 100%;
	height: 300px;
	overflow: hidden;
	z-index: -1;
}

.hero-image {
	width: 100%;
	height: 150%;
	/* This will make the image 50% taller than the .hero div */
	object-fit: cover;
	position: absolute;
	top: -25%;
	/* This will move the image up by 25% of its height, hiding the top third */
}

.hero-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
	text-shadow: 2px 2px 4px #000000;
	background: rgba(0, 0, 0, 0.5);
	padding: 10px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.navbar-brand img {
	height: 45px;
	width: auto;
}

.navbar-toggler {
	transform: scale(0.75);
}

.logo {
	font-size: 24px;
	text-decoration: none;
}

.logo img {
	height: 50px;
	width: auto;
}

.nav-links {
	list-style: none;
	display: flex;
}

.nav-links li {
	margin-left: 20px;
}

.nav-links a {
	text-decoration: none;
}

.nav-links.show {
	display: flex;
	flex-direction: column;
}

.hamburger {
	display: none;
	flex-direction: column;
	justify-content: space-around;
	width: 1.125rem;
	height: 1.125rem;
	cursor: pointer;
	position: relative;
}

.hamburger div {
	width: 1.125rem;
	height: 0.125rem;
	background-color: #333;
	transition: all 0.3s ease;
}

.hamburger.open div:nth-child(1) {
	position: absolute;
	transform: rotate(45deg);
	top: 0.75rem;
}

.hamburger.open div:nth-child(2) {
	opacity: 0;
}

.hamburger.open div:nth-child(3) {
	position: absolute;
	transform: rotate(-45deg);
	top: 0.75rem;
}

.content {
	max-width: 1000px;
	margin: 20px auto;
}


.customer-quotes {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.quotes-container {
	max-width: 800px;
	margin: 2rem 0 1rem 0;
}

.property-details {
	text-align: center;
}

.box-link {
	color: inherit;
	text-decoration: none;
}

.box-link .property-details {
	transition: all 0.3s ease;
}

.box-link:hover {
	color: inherit;
	text-decoration: none;
}

.box-link:hover .property-details {
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
	transform: translateY(-10px);
	transition: all 0.3s ease;
}

.details-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.details-container img {
	order: 2;
}

.details-text {
	order: 1;
}

footer {
	background-color: black;
	color: white;
	text-align: center;
	padding: 20px 0;
}

@media (max-width: 768px) {
	.navbar {
		position: relative;
	}

	.nav-links {
		display: none;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s ease-out;
		position: absolute;
		top: 100%;
		width: 100%;
		background: white;
	}

	.nav-links.show {
		max-height: 200px;
		/* adjust this value as needed */
	}

	.hamburger {
		display: flex;
	}

	.content {
		margin: 10px;
		width: 100%;
	}
}

/* Responsive CSS */
@media screen and (max-width: 768px) {
	.hero {
		height: 200px;
	}

	.hero-text {
		font-size: 18px;
	}
}

@media screen and (max-width: 480px) {
	.hero {
		height: 100px;
	}

	.hero-text {
		font-size: 16px;
	}
}